.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    background-color: #1f2937;
    color: white;
}

 a {
    text-decoration: none;
    text-decoration-line: none;
    color: white;
}
* {
    margin: auto;
    border: 1px red solid;
}

.subheader {
    display: flex;
    flex-direction: column;
    float: left;
}